body{
  display: flex;
  justify-content: center;
}

.title{
  color: black;
  font-size: 5rem;
  text-align: center;
}

.inputAdd{
 width: 500px;
 height: 40px;
 font-size: 2rem;
 margin: 10px;
}


.addButton{
  font-size: 2rem;
  padding: 0.5rem;
  transition: all ease 0.5s ;
  border-radius: 10px;
  
  
 
}

.addButton:hover{
  color: white;
  background-color: black;
}


.listElement{
  font-size: 2rem;
  
}

.item{
  background-color: lightcyan;
}

.removeButton{
  font-size: 1.5rem;
  transition: all ease 0.5s ;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 3px;
 
}

.removeButton:hover{
  color: white;
  background-color:lightcoral;
}